<div class="border-t-1 border-[#222] py-[1%] pt-[1.5%] leading-none text-[#aaa] text-center">
    <a href="https://www.linkedin.com/in/diego-martins-563954278/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/MartinsDiego17"><i class="fa-brands fa-github"></i></a>
    <a href="mailto:diegomartinsupe@hotmail.com"><i class="fa-solid fa-envelope"></i> </a> <br />
    <p class="mt-[1%] ">Made with ♥ by Diego Martins</p> 
</div>

<style>
    div {
        background: rgba(14, 14, 14, 0.75);
        backdrop-filter: blur(5px);
    }
    i {
        font-size: 1.2rem;
    }
    a {
        transition: .15s;
        margin: 0 1%;
    }
    a:hover {
        color: #eee;
    }   

</style>
