---
import "@fortawesome/fontawesome-free/css/all.css";
import Card from "./experiencia/Card";

interface Formacion {
    name: string;
    date: string;
    title: string;
    description: string;
    habilities: string[];
    link: string;
}
import { getI18N } from "../lenguajes";
const { currentLocale }: any = Astro;
const i18n = getI18N({ currentLocale });

interface PropsFormation {
    title: string;
    FirstFormation: Formacion;
    SecondFormation: Formacion;
}
interface I18N {
    Formation: PropsFormation;
}
const i18nTyped = i18n as I18N;
const { Formation } = i18nTyped;
const formaciones  : Formacion[] = [
    Formation.FirstFormation,
    Formation.SecondFormation,
];

---

<div
    class="h-fit w-[70%] mb-[45vh] max-sm:mb-[30vh] max-sm:w-4/5 max-sm:mt-[30vh] mx-auto flex flex-col justify-center align-middle"
>
    <h2 class="titleSection">
        <i class="fa-solid fa-book opacity-50"></i> {Formation.title}
    </h2>
    <ol>
        {
            formaciones.map((form: Formacion) => (
                <li>
                    <Card {...form} />
                </li>
            ))
        }
    </ol>
</div>
