<div class="w-screen h-screen bg-[red]">

</div>

<style>
    div {
        background-image: url(../../../public/images/body/metadata.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left left;
    }
</style>